# Python / project
__pycache__/
*.pyc
*.pyo
*.pyd

# virtual env
.venv/
venv/
env/

# logs and outputs
logs/
*.log
logs/**

# IDE
.vscode/
.idea/

# local calibration / secrets
params.json
lookup_px_to_m.csv

# OS
Thumbs.db
.DS_Store
